.logo {
    width: 100%;
    margin: auto;
    text-align: center;

    img {
        width: 400px;
    }
}

li {
    margin: 20px 0;
}

h3 {
    color: #41a7e3;
}

.title {
    color: yellow;
}

.name {
    color: #eb70ac;
    width: 150px;
}

.box {
    display: flex;
}

.vote {
    text-decoration: underline;
}